// font
$title-family: 'Fredoka One', sans-serif;
$text-family:'Open Sans', sans-serif;

// background colors
$bg_color_1:#ffffff;
$bg_color_2:#ffffff80;
$bg_color_3:#e9d758;
$bg_color_4:#e56768;
$bg_color_5:#da5f60e6;
$bg_color_6:#454545;
$bg_color_7:#3d404f;
$bg_color_8:#000000;
$bg_color_9:#000000cc;
$bg_color_010:#db2a2c;
$bg_color_011:#f7f8fa;
$bg_color_012:#151515;

// text color
$text_color_1:#ffffff;
$text_color_2:#e9d758;
$text_color_3:#e56768;
$text_color_4:#5c5e6c;
$text_color_5:#3d404f;
$text_color_6:#000000;
$text_color_7:#454545;


// fill color
$fill_color_1:#ffffff;
$fill_color_2:#e56768;
$fill_color_3:#000000;